* {
  margin:0px;
  padding:0px;
  box-sizing:inherit;
}

html {
    font-size: 62.5%;
}

body{
  box-sizing:border-box;
}

.container {
  height:100vh;
  width:100%;
  background:#F5Fcc1;
  font-size:2rem;
}

.frame {
  position:relative;
  text-align:center;
  background:#999999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 40rem;
  width: 30rem;
  border-radius:2%;
  display:block;
    box-shadow:
    1px 2px 1px 0 #303030 ,
    2px 3px 2px 0 #303030 ,
    3px 4px 3px 0 #303030 ,
    4px 5px 4px 0 #303030 ,
    5px 6px 5px 0 #303030 ;
}

.title{
  text-align:left;
  height:6rem;
  width:100%;
  background:#9ECDB9;
  line-height: 6rem;
  font-size: 3.5rem;
  letter-spacing: .15rem;
  font-family: 'Lobster', cursive;
  padding-left: 1rem;
}

.total{
  background:#CCCCCC;
  margin:1rem;
  border-radius:5%;
  text-align:right;
  font-family: 'Saira Extra Condensed', cursive;
  height: 4rem;
  overflow: hidden;
}

.row-buttons{
  width:auto;
  height:20%;  
}

.btn-body{
  margin:10px 0px;
  width:auto;
  height:69%;
  
}

.btn {
  width:20%;
  background:#1A0E53;
  height:auto;
  color:#F5Fcc1;
  display:inline-block;
  font-family: 'Orbitron', sans-serif;
  text-align:center;
  height:4rem;
  line-height:4rem;
  margin:0rem .75rem;
  box-shadow:
    1px 2px 0 0 gray,
    2px 3px 0 0 gray,
    3px 4px 0 0 gray,
    4px 5px 0 0 gray,
    5px 6px 5px 0 gray;
   border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

div .btn-gray {
  background: #F5Fcc1;
  color:black;
}

.btn:active {
  position:relative;
  box-shadow: 1px 1px 5px 0 #000000;
  -webkit-box-shadow: 1px 1px 5px 0 #000000;    
  -moz-box-shadow: 1px 1px 5px 0 #000000;
  top: .5rem;
  left: 4px;
      -webkit-transition-duration:.1s;
}

.clear{
  background:#996666;
}